@import "./src/assets/constants/constants.scss";

.content_searchingResultWrapper {
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;

  .content_searchResultTitle {
    font-size: 20px;
    color: $mainTextColor;
    display: block;
    margin: 10px 0 20px;

    .queryWord {
      color: $queryWordColor;
      font-weight: bold;
    }
  }

  .iframeResults {
    width: 100%;
    height: 70vh;
  }
}