@import "../../assets/constants/constants.scss";

.content {
  background-color: $mainBackgroundColor;
  height: calc(100vh - 123px);
  padding: 1% 15%;

  .content_searchingResultWrapper {
    margin-top: 30px;
    padding: 20px 0;
    width: 80%;

    .content_searchResultTitle {
      font-size: 20px;
      color: $mainTextColor;
      display: block;
      margin: 10px 0 20px;

      .queryWord {
        color: $queryWordColor;
        font-weight: bold;
      }
    }

    .iframeResults {
      width: 100%;
      height: 700px;
    }
  }
}

@media (max-width: $fulhdDesktop) {
  .content {
    padding: 1% $leftPaddingLaptop;
  }
}

@media (max-width: $laptop) {
  .content {
    padding: 1% $leftPaddingTablet;
  }
}

@media (max-width: $tablet) {
  .content {
    padding: 1% 5%;
  }
}