@import "./src/assets/constants/constants.scss";

.content {
  background-color: $mainBackgroundColor;
  height: calc(100vh - 5%);
  padding: 1% 15%;
}

@media (max-width: $fulhdDesktop) {
  .content {
    padding: 1% $leftPaddingLaptop;
  }
}

@media (max-width: $laptop) {
  .content {
    padding: 1% $leftPaddingTablet;
  }
}

@media (max-width: $tablet) {
  .content {
    padding: 1% 5%;
  }
}